<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/internal-head %>
  </head>

  <body>

    <% include ../partials/internal-header %>

    <div class="container">

      <div class="main-content">
        <section class="post-listing">
          <div class="row">

              <% users.forEach(function(user) { %>
                <article class="post-listing__listing-item">
                  <a href="/status/<%= user.id %>">
                    <div class="row">
                      <div class="medium-2 columns text-center">
                        <img class="thumbnail post-listing__listing-item__thumbnail" src="<%= user.profile.image_192 %>">
                      </div>
                      <div class="medium-10 columns post-listing__listing-item__content">
                        <h2 class="post-listing__listing-item__entry-title entry-title">
                          <%= user.profile.first_name %> is feeling <% if(statuses[user.id] && statuses[user.id].status) {%>
                          <span class="status-<%= statuses[user.id].status %>"><%= statuses[user.id].statusString %></span>
                          <% } %>
                        </h2>
                        <p class="entry-summary">
                          <span>Last reported:</span>
                          <abbr class="timeago" title="<%= statuses[user.id].date.toISOString() %>">
                            <%= statuses[user.id].date.getDate() %>.<%= statuses[user.id].date.getMonth() + 1 %>.<%= statuses[user.id].date.getFullYear() %>
                            <%= statuses[user.id].date.getHours() %>:<%= statuses[user.id].date.getMinutes() %>
                          </abbr>
                        </p>
                        <p class="feedback-message">
                          <% if(statuses[user.id] && statuses[user.id].message) {%>
                            <%= statuses[user.id].message %>
                          <% } %>
                        </p>
                      </div>
                    </div>
                  </a>
                </article>
              <% }); %>

          </div>
        </section>
      </div>

      <footer>
          <% include ../partials/internal-footer %>
      </footer>

    </div>

  </body>
</html>