<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/internal-head %>
  </head>

  <body class="home blog logged-in admin-bar customize-support">

    <% include ../partials/internal-header %>

    <div class="container">

      <div class="main-content">
        <section class="post-listing post-listing-single">
          <div class="row">

            <article class="post-listing__listing-item hentry">
                <div class="medium-12">
                  <div class="text-center">
                    <img class="thumbnail post-listing__listing-item__thumbnail" src="<%= userData.profile.image_192 %>">
                    <h2 class="post-listing__listing-item__entry-title entry-title">
                      <%= userData.real_name %> is feeling <% if(userData && userData.status) {%>
                      <span class="status-<%= userData.status.status %>"><%= userData.statusString %></span>
                      <% } %>
                      <% if(userData.status && userData.status.message) {%>
                        <span class="tipped" data-tipped-options="size: 'large'" title="<%= userData.status.message %>"><img class="comment" src="/public/images/icon-comment.png" /></span>
                      <% } %>
                    </h2>
                    <p class="entry-summary">
                      <span>Last reported:</span>
                      <abbr class="timeago" title="<%= userData.date.toISOString() %>">
                        <%= userData.date.getDate() %>.<%= userData.date.getMonth() + 1 %>.<%= userData.date.getFullYear() %>
                        <%= userData.date.getHours() %>:<%= userData.date.getMinutes() %>
                      </abbr>
                    </p>
                  </div>
                </div>
            </article>

          </div>
          <section>
            <div id="container"></div>
          </section>
        </section>
      </div>
    </div>

    <footer>
        <% include ../partials/internal-footer %>

      <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                  backgroundColor: '#f5f7f8',
                },
                legend: {
                  enabled: false
                },
                title: {
                    text: 'Last 7 days',
                    margin: 50
                },
                xAxis: {
                  type: 'datetime',
                  minRange: 7 * 24 * 3600000 // fourteen days
                },
                yAxis: {
                    title: {
                        text: 'Status'
                    },
                    min: 1,
                    max: 5
                },
                tooltip: {
                    valueSuffix: ''
                },
                series: [{
                  name: '<%= userData.real_name %>',
                  data: <%= graphData %>
                },
                {
                  type: 'flags',
                  name: 'Events',
                  color: '#333333',
                  fillColor: 'rgba(255,255,255,0.8)',
                  data: [
                    { x: Date.UTC(2015, 6, 4), text: 'Highsoft won "Entrepeneur of the Year" in Sogn og Fjordane, Norway', title: 'Award' },
                    { x: Date.UTC(2015, 6, 3), text: 'Packt Publishing published <em>Learning Highcharts by Example</em>. Since then, many other books are written about Highcharts.', title: 'First book' },
                    { x: Date.UTC(2015, 6, 2), text: 'Highsoft nominated Norway\'s Startup of the Year', title: 'Award' },
                    { x: Date.UTC(2015, 6, 5), text: 'Highsoft nominated Best Startup in Nordic Startup Awards', title: 'Award' }
                  ],
                  onSeries: '<%= userData.real_name %>',
                  showInLegend: false
                }]
            });
        });
      </script>

    </footer>

  </body>
</html>