<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/internal-head %>
  </head>

  <body class="home blog logged-in admin-bar customize-support">

    <% include ../partials/internal-header %>

    <div class="container">

      <div class="main-content">
        <section class="post-listing post-listing-single">
          <div class="row">

            <article class="post-listing__listing-item hentry">
                <div class="medium-12">
                  <div class="text-center">
                    <img class="thumbnail post-listing__listing-item__thumbnail" src="<%= userData.profile.image_192 %>">
                    <h2 class="post-listing__listing-item__entry-title entry-title">
                      <%= userData.real_name %> is feeling <% if(userData && userData.status) {%>
                      <span class="status-<%= userData.status.status %>"><%= userData.statusString %></span>
                      <% } %>
                      <% if(userData.status && userData.status.message) {%>
                        <span class="tipped" data-tipped-options="size: 'large'" title="<%= userData.status.message %>"><img class="comment" src="/public/images/icon-comment.png" /></span>
                      <% } %>
                    </h2>
                    <p class="entry-summary">
                      <span>Last reported:</span>
                      <abbr class="timeago" title="<%= userData.date.toISOString() %>">
                        <%= userData.date.getDate() %>.<%= userData.date.getMonth() + 1 %>.<%= userData.date.getFullYear() %>
                        <%= userData.date.getHours() %>:<%= userData.date.getMinutes() %>
                      </abbr>
                    </p>
                  </div>
                </div>
            </article>

          </div>
          <section>
            <div id="container"></div>
          </section>
        </section>
      </div>
    </div>

    <footer>
        <% include ../partials/internal-footer %>

      <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                  backgroundColor: '#f5f7f8',
                },
                legend: {
                  enabled: false
                },
                title: {
                    text: 'Last 10 days',
                    margin: 50
                },
                xAxis: {
                  type: 'datetime',
                  minRange: 10 * 24 * 3600000 // ten days
                },
                yAxis: {
                    title: {
                        text: 'Status'
                    },
                    min: 1,
                    max: 5
                },
                tooltip: {
                    valueSuffix: ''
                },
                series: [{
                  name: '<%= userData.real_name %>',
                  data: <%= graphData %>
                }]
            });
        });
      </script>

    </footer>

  </body>
</html>